body {
  /*font: 15px/1.5 Proxima Nova, sans serif;*/
  font-family: ProximaNova, Proxima Nova, sans-serif;
}

.question {
  display: flex;
  padding: 30px;
}

.q-number {
  font-size: 40px;
  padding: 30px;
  line-height: 1;
}

.q-text {
  padding: 30px;
  max-width: 280px;
  text-align: left;
  font: Bold 28px/34px Proxima Nova;
  letter-spacing: 0;
  color: #707070;
  opacity: 1;
}

.q-input {
  padding: 30px;
}

.q-input ul {
  margin: 0;
  padding: 0;
}

.hutCardClass {
  list-style-type: none;
  flex-shrink: 0;
  flex-basis: 20%;
  flex-grow: 0;
  min-width: 260px;
  min-height: 260px;
  margin-bottom: 10px;
  margin-right: 5px;
}

.hutCardClass img {
  width: 100%;
}

.hutName {
  font-size: 28px;
  margin: 0;
  font-weight: bold;
}

.hutRegion {
  font-size: 18px;
  margin: 0;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.cardItem {
  list-style-type: none;
  font-size: 28px;
  margin: 0;
  font-weight: bold;
  background-color: tomato;
}

.track-list-title {
  text-align: center;
  padding: 40px;
}

.track {
  padding: 20px;
  font-size: 20px;
  background-color: #eee;
  border-radius: 4px;
  margin: 0 20px 20px;
  width: 500px;
  color: #444;
  list-style-type: none;
}

.track:hover {
  background-color: #ddd;
  cursor: pointer;
}

#g4755:hover *,
#g4717:hover *,
#g4701:hover *,
#path3547:hover,
#g4698:hover *,
#g4692:hover *,
#g4776:hover *,
#path3555:hover,
#g3470:hover *,
#g3585:hover *,
#g4695:hover *,
#g4750:hover *,
#g3628:hover *,
#g4704:hover * {
  fill: #777 !important;
  cursor: pointer;
}

.group-size-opts {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
}

.group-size-opt {
  list-style-type: none;
  background-color: #eee;
  padding: 0 20px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 25px;
  color: #666;
  border-radius: 50%;
  box-sizing: border-box;
  text-align: center;
  margin: 0 20px 20px 0;
}

.group-size-opt:hover {
  background-color: #ddd;
  cursor: pointer;
}
