html,
body,
#app {
  height: 100%;
}

.frontpage .header {
  display: flex;
  align-items: center;
}

.frontpage {
  padding-left: 80px;
  height: 100%;
  background: url('img/Trees.png') 0% 100% no-repeat, url('img/Trees.png') 100% 100% no-repeat,
    linear-gradient(to bottom, transparent calc(100% - 14px), rgb(111, 138, 60) calc(100% - 14px));
  background-size: 475px;
}

.mainHutImg {
  width: 150px;
}

.textLogo {
  padding-left: 15px;
  font-size: 20px;
}

.beginButton {
  background-color: rgb(111, 138, 60);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

.frontpage {
  text-align: center;
}

body {
  /*font: 15px/1.5 Proxima Nova, sans serif;*/
  font-family: ProximaNova, Proxima Nova, sans-serif;
}

.question {
  display: flex;
  padding: 30px;
}

.q-number {
  font-size: 40px;
  padding: 30px;
  line-height: 1;
}

.q-text {
  padding: 30px;
  max-width: 280px;
  text-align: left;
  font: Bold 28px/34px Proxima Nova;
  letter-spacing: 0;
  color: #707070;
  opacity: 1;
}

.q-input {
  padding: 30px;
}

.q-input ul {
  margin: 0;
  padding: 0;
}

.hut-card {
  list-style-type: none;
  flex-shrink: 0;
  flex-basis: 20%;
  flex-grow: 0;
  min-width: 260px;
  min-height: 260px;
  margin-bottom: 10px;
  margin-right: 5px;
  background-color: #eee;
  padding: 20px;
}

.hut-card img {
  width: calc(100% + 40px);
  opacity: 0.9;
  margin: -20px -20px 20px -20px;
}

.hutName {
  font-size: 28px;
  margin: 0;
  font-weight: bold;
}

.hutRegion {
  font-size: 18px;
  margin: 0;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.greenStrip {
  color: green;
  width: 100%;
  height: 100px;
}

.treeImg {
  height: 50px;
}

.mainTitle {
  color: rgb(111, 138, 60);
  font-size: 60px;
}

.mainMessage {
  color: rgb(140, 140, 140);
  font-size: 20px;
  line-height: 1.3;
  padding: 4%;
}

.cardItem {
  list-style-type: none;
  font-size: 28px;
  margin: 0;
  font-weight: bold;
  background-color: tomato;
}

.track-list-title {
  text-align: center;
  padding: 40px;
}

.track {
  padding: 20px;
  font-size: 20px;
  background-color: #eee;
  border-radius: 4px;
  margin: 0 20px 20px;
  width: 500px;
  color: #444;
  list-style-type: none;
}

.track:hover {
  background-color: #ddd;
  cursor: pointer;
}

#g4755:hover *,
#g4717:hover *,
#g4701:hover *,
#path3547:hover,
#g4698:hover *,
#g4692:hover *,
#g4776:hover *,
#path3555:hover,
#g3470:hover *,
#g3585:hover *,
#g4695:hover *,
#g4750:hover *,
#g3628:hover *,
#g4704:hover * {
  fill: #777 !important;
  cursor: pointer;
}

.group-size-opts {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
}

.group-size-opt {
  list-style-type: none;
  background-color: #eee;
  padding: 0 20px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 25px;
  color: #666;
  border-radius: 50%;
  box-sizing: border-box;
  text-align: center;
  margin: 0 20px 20px 0;
}

.group-size-opt:hover {
  background-color: #ddd;
  cursor: pointer;
}

.actions {
  display: flex;
}

.btn {
  padding: 10px 20px;
  background: #5f696e;
  color: white;
  margin-right: 10px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  border: none;
  text-decoration: none;
  border-radius: 4px;
  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
  cursor: pointer;
}

.detail-btn {
  flex: 1;
}

.fav-btn {
  background-color: rgb(111, 138, 60);
}

.app {
  display: flex;
}

.app > :nth-child(2) {
  flex: 1;
}

nav {
  position: fixed;
  top: 10px;
  left: 10px;
  height: calc(100vh - 20px);
}

nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

nav li {
  width: 10px;
  background: #ddd;
  flex: 1;
  margin-bottom: 5px;
  list-style: none;
}

nav li.selected {
  background: rgb(111, 138, 60);
}

nav li.clickable {
  background: #bbb;
  cursor: pointer;
}

.fabulous-btn {
  background-color: rgb(111, 138, 60);
  position: absolute;
  font-size: 25px;
  color: white;
  padding-top: 4px;
  box-sizing: border-box;
  top: 40px;
  right: 40px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  opacity: 0.8;
}

.fabulous-btn:hover {
  opacity: 1;
  cursor: pointer;
}
